@import 'uikit/src/scss/variables-theme.scss';
@import 'uikit/src/scss/mixins-theme.scss';

$offcanvas-bar-background: #fff;
$offcanvas-bar-color-mode: dark;

@import 'uikit/src/scss/uikit-theme.scss';

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.flow > * {
  margin-block-end: 0;
}
